.clear{
  clear: both;
}
.container-left {
  width: 15%;
  float: left;
}

.search-movies {
position: relative;
display: block;
width: 100%;
font-family: "Helvetica Neue", Helvetica;
font-size: 12px;
padding: 20px 0px 20px 15px;
color: white;
background-color: red;
text-decoration: none;
margin-right: 20px;

}

.left-nav-item {
  position: relative;
  display: block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  padding: 20px 0px 20px 15px;
  color: white;
  background-color: #11171C;
  text-align: left;
  text-decoration: none;
  margin-left: 0px;
}

// .your-movie-searches {
//   display: block;
//   width: 100%;
//   font-family: "Helvetica Neue", Helvetica;
//   font-size: 12px;
//   padding: 20px 0px 20px 15px;
//   color: white;
//   background-color: #11171C;
//   text-align: left;
//   text-decoration: none;
//   margin-left: 0px;

// }

.container-center {
  position: relative;
  float: left; 
  width: 70%; 

}

.discover-heading {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  color: #666;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 24px;
  padding-left: 30px;
  
}

.release-date-text {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  color: #57646D;
  padding-left: 20%;

}

.popularity-text {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  color: #74C0CB;
  padding-right: 20%;

}

.movie-image {
  position: relative;
  display: block;
  float: left;
  height: 180px;
  width: 14%;
  padding: 15px 15px 15px 15px;
}

.movie-images {
  position: relative;
  display: block;
  float: left;
  height: 180px;
  width: 100%;
  padding: 15px 0px 15px 15px;
}

  .movie-image-caption {

    color: #666;
    font-family: "Helvetica Neue", Helvetica;
    font-size: 12px;
    width: 14%;
  } 

.container-right {
  width: 15%;
  float: right;

 
}

.jack-dorsey-top {
  width: 100%;
  position: relative;
  background-color: #74C0CB;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  padding: 30px 0px 30px 15px;
  
}

.online-status {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  color: #9199A2;
  background-color: #ECEDEF;
  padding: 30px 0px 30px 15px; 
}

.online-person {

  width: 100%;
  position: relative;
  background-color: #ECEDEF;
  color: #57646D;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  padding: 30px 0px 30px 15px;

}

.offline-person {
  width: 100%;
  position: relative;
  background-color: #ECEDEF;
  color: #57646D;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  padding: 30px 0px 30px 15px;

}

.input [type="text"] {
  border: none;
  border-bottom-width: 2px;
  border-bottom-color: white;

}

